


h2.journey {
    font-family: 'Outfit', sans-serif; 
}

h3.civics {
    font-family: 'Work Sans', sans-serif;
    color: dodgerblue;
}

#my-journey {
    width: 800px;
    text-align: left;
    margin: auto;
}

#my-journey p {
    font-family: 'M PLUS 2', sans-serif;
    font-size: 15px;
}

#my-thoughts p {
    font-family: 'Josefin Sans', sans-serif;
}